@font-face {
   font-family: Basis-Grotesque-Bold;
   src: url(../fonts/basis_grotesque_trial_bold.otf);
}

@import url(https://fonts.googleapis.com/css?family=Lora:400);

%regular {
   color: $black;
   font-family: Basis-Grotesque-Bold, Helvetica, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

@mixin body {
   font-size: 18px;
   line-height: 22px;
}

a {
   text-decoration: none;
   color: inherit;
}

section {
   @extend %regular;
   @include body;
}

footer {
   @extend %regular;
   font-size: 14px;
   line-height: 16px;
}

h1 {
   font-family: 'Lora', serif;
   font-size: 140px;
   line-height: 114px;
   font-weight: 400;
   letter-spacing: -1;
   color: black;
   text-align: center;
   margin: 0;
   > span.white{
      color: white;
   }
   @include at-tablet {
      font-size: 80px;
      line-height: 68px;
   }
   @include at-mobile {
      font-size: 54px;
      line-height: 48px;
   }
}

h1 > div, h1 > span div{
   display: inline-block;
   opacity: 1;
}

text {
   @extend %regular;
   font-size: 0px;
}

h2 {
   text-align: center;
   margin-bottom: 60px;
}

h3 {
   text-align: center;
   font-size: 14px;
   letter-spacing: 0.5;
   margin-top: -50px;
   margin-bottom: 50px;
}

nav {
   font-size: 14px;
   line-height: 18px;
   mix-blend-mode: difference;
   color: white;
}

a:hover, a:active, a:focus {
   outline: none;
}

address, nav {
   font-style: normal;
   margin-bottom: 30px;
}

.small-title {
   font-family: 'Lora', serif;
   font-size: 28px;
   font-weight: 400;
   letter-spacing: -1;
   margin-bottom: 30px;
}

.underline {
   border-bottom: 2px solid white;
   mix-blend-mode: difference;
}

.right-align {
   text-align: right;
   padding-right: 18px;
}

p {
   margin: 0;
   text-indent: 60px;
   &:first-of-type, &.five-columns {
      text-indent: 0;
   }
}